 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/7cb139952c720776169848175cf1c862ca8d05f3cc26c1d98eb8a90968565359cda14ced699f063cc3dad1abef88d24e1c6dee3186c931c53bb81e_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 294px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 975px;
}

.u-section-2 .u-shape-1 {
  height: 400px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-shape-2 {
  width: 942px;
  height: 627px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -132px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-group-1 {
  width: 462px;
  min-height: 598px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -627px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-image-1 {
  width: 637px;
  height: 637px;
  background-image: url("images/750710757-0.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -752px auto 115px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 994px;
  }

  .u-section-2 .u-shape-2 {
    width: 723px;
    height: 657px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 412px;
    margin-top: -657px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    width: 515px;
    height: 515px;
    margin-top: -758px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1256px;
  }

  .u-section-2 .u-shape-2 {
    width: 653px;
    height: 914px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 604px;
    min-height: 489px;
    margin-top: -554px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -1023px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1236px;
  }

  .u-section-2 .u-shape-2 {
    width: 540px;
    height: 889px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-top: -569px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 478px;
    height: 478px;
    margin-top: -1058px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1123px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    height: 784px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 600px;
    margin-top: -637px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    width: 311px;
    height: 311px;
    margin-top: -944px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 710px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-image-1 {
  min-height: 590px;
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 590px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  margin: 126px -26px 0 60px;
}

.u-section-3 .u-text-2 {
  margin: 20px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 486px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-3 .u-image-1 {
    min-height: 372px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-3 .u-image-1 {
    min-height: 558px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-3 .u-image-1 {
    min-height: 351px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-shape-1 {
  width: 930px;
  height: 402px;
  background-image: linear-gradient(#f1b5b8, #adf6f2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 388px 0 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: linear-gradient(#f1b5b8, #2cccc4);
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -730px auto 0 0;
}

.u-section-4 .u-image-1 {
  height: 552px;
  width: 858px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -140px auto 0 94px;
}

.u-section-4 .u-group-1 {
  width: 596px;
  min-height: 463px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
  height: auto;
  margin: -124px 71px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: 748px;
    height: 409px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -737px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 82px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-4 .u-shape-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    height: 398px;
    width: 638px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 467px;
    margin: -54px auto 42px 42px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1023px;
  }

  .u-section-4 .u-shape-1 {
    height: 327px;
    margin-top: 347px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-shape-2 {
    width: 199px;
    height: 199px;
    margin-top: -614px;
  }

  .u-section-4 .u-image-1 {
    height: 303px;
    width: 469px;
    margin-top: -130px;
  }

  .u-section-4 .u-group-1 {
    width: 469px;
    min-height: 487px;
    margin: 44px 0 60px auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-4 .u-shape-1 {
    height: 89px;
    margin-top: 54px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shape-2 {
    width: 138px;
    height: 138px;
    margin-top: -287px;
  }

  .u-section-4 .u-image-1 {
    height: 193px;
    width: 287px;
    margin-top: -91px;
  }

  .u-section-4 .u-group-1 {
    min-height: 523px;
    margin-top: 82px;
    margin-bottom: -144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}