 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 855px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: -171px;
}

.u-section-1 .u-image-1 {
  min-height: 548px;
  background-image: url("images/1128390_OQ3A7S1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 548px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 207px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -20px;
  }

  .u-section-1 .u-image-1 {
    min-height: 452px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 452px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 171px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 70px;
  }

  .u-section-1 .u-image-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 131px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1060px;
  }

  .u-section-1 .u-image-1 {
    min-height: 519px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 98px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-1 .u-image-1 {
    min-height: 327px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 62px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 854px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 39px 95px 0;
}

.u-section-2 .u-image-1 {
  width: 590px;
  height: 394px;
  margin: 72px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 88px 95px 31px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 88px;
    font-size: 1rem;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 361px;
    margin-top: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 60px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 147px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 227px;
    margin-top: -16px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: -95px;
  }
}